DATABASE_HOST=
DATABASE_PORT=
DATABASE_USER=
DATABASE_PASS=
DATABASE_NAME=

PORT=
CORS_ORIGIN=

JWT_EXPIRES_IN=1d

CLOUDINARY_NAME = 
CLOUDINARY_API_KEY = 
CLOUDINARY_API_SECRET = 


#NodeMailer
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=


